// Your custom SCSS should be written here...
@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Reenie+Beanie|Covered+By+Your+Grace|Gloria+Hallelujah|Montserrat:400|Raleway:300,400,600|Inconsolata);

/* variables */
$font-family-handwrite:  'Covered By Your Grace', cursive;
$font-family-header:     'Covered By Your Grace', cursive;
$font-family-breadcrumb:  'Waiting for the Sunrise', cursive;

/* mixins */
/* base hand drawn appearance style, thick border */
@mixin hand-draw {
  padding: 1em;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  /*-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  */
  border-radius: 2px;
  // border: 1px solid #E5E5E5;
  border: 1px solid #252423;
}

/* base hand drawn appearance, with thin border */
@mixin hand-draw-thin {
  padding: 1em;
  background: white;
  /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e5e5e5));
  background: -webkit-linear-gradient(white 0%, #e5e5e5 100%);
  background: -moz-linear-gradient(white 0%, #e5e5e5 100%);
  background: -o-linear-gradient(white 0%, #e5e5e5 100%);
  background: linear-gradient(white 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7); 
  
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  border: 1px solid #252423;
  border: 1px solid #252423;
  
}

/* post-it note appearance. */
@mixin hand-draw-post-note {
  padding: 1em;
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  /*-moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;*/
  border-radius: 2px;
  border: 1px solid #E5E5B7;
  border: 1px solid #252423;
  
}



.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $font-family-handwrite;
   font-weight: 400;
}

#header > #navbar > ul.navigation > li > a {
  font-family: $font-family-handwrite;
}

.blog-header h2 {
  font-family: $font-family-handwrite;
}

.list-item .list-blog-date {
  font-family: $font-family-handwrite;
}

.list-item .list-blog-date span {
  display: inline;
}
.list-item .list-blog-date em {
  display: inline;
  font-size: 1.2rem;
}

.social-links li a {
  color: #444; 
}
.social-links li a:hover {
  color: red; 
}


/* -- Breadcrumbs --*/

#breadcrumbs {
  /*    height: 3rem;*/
  padding-bottom: .5rem;
}
#breadcrumbs span {
  font-family: $font-family-breadcrumb;
  font-size: 1.3rem;
  font-weight: bold;
}
#breadcrumbs span:first-child {
  font-size: 1.5rem;
  color: #C00000 ;
}
#breadcrumbs span:last-child {
  position: relative;
}
#breadcrumbs > span:last-child:after {
  position: relative;
  font-family: 'Reenie Beanie', cursive;
  content: '\2190 you are here';
  font-size: 1.2rem;
  font-weight: bold;
  top: -.5rem;
  left: .5rem;
  color: #C00000 ;
}

/* taxonomy links */
span.tags > a {
  font-family: $font-family-handwrite;
  font-size: 1.1rem;
  
}
div.sidebar-content a {
  font-family: $font-family-handwrite;
  font-size: 1.1rem;
}

/* div stylizing for header tag line, article, and side content */
div.list-blog-header {
  @include hand-draw;
}
div.list-blog-padding {
  @include hand-draw-thin;
}

div.sidebar-content {
  @include hand-draw-post-note;
}

/* make the home link bigger; as the text misconstrues it */
#navbar > ul > li > a {
  font-size: 2rem;
}

/* main site header-line -- make bigger */
#logo > h3 > a {
  font-size: 2.5rem;
  
}

ul.social-links  {
  list-style-type: none;
}

.social-links li a {
  color: #444;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2rem;
  font-weight: bold;
  
}
.social-links li a:hover {
  color: red;
}
